@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  overflow: hidden;
}

main {
  background: #FFA5AB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  margin: 0;
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.heart_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
}

.click_me {
  font-weight: 400;
  font-style: normal;
  font-size: 2.25rem;
  color: #4d3738;
  animation: float 3s ease-in-out infinite;
}

.click_me.active {
  animation: disappear 2s forwards ease;
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.3125rem);
  }
}

/* HTML: <div class="heart"></div> */
.heart {
  position: relative;
  width: 13.75rem;
  /* Increased size */
  height: 12.5rem;
  /* Increased size */
  cursor: pointer;
  animation: pulse 1s infinite;
  will-change: transform;
  z-index: 2;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 6.875rem;
  /* Adjusted for increased size */
  top: 0;
  width: 6.875rem;
  /* Increased size */
  height: 11.25rem;
  /* Increased size */
  background: #cc333f;
  border-radius: 6.875rem 6.875rem 0 0;
  /* Adjusted for increased size */
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.heart.active {
  animation: flyAway 2s forwards ease;
}

@keyframes flyAway {
  0% {
    transform: translateY(0) scale(1);
  }

  100% {
    transform: translateY(-100vh) scale(0.5);
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.heart_emoji {
  font-size: 1.5rem;
  position: fixed;
  top: -1vh;
  left: 0;
  animation: fall 3s ease-in;
}

@keyframes fall {

  0% {
    transform: translateY(-10vh);
  }

  100% {
    transform: translateY(100vh);
  }
}

.valentine {
  width: 20rem !important;
  height: 0;
  /* height: 26.25rem; */
  background: #f1f1f1ea;
  /* Adjusted for transparency */
  border-radius: 0.625rem !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.75rem !important;
  box-shadow: 0 0.25rem 5rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translate(-50%, 100%);
  transition: transform 1s ease, opacity 1s ease;
  z-index: 1;
}

.valentine::before,
.valentine::after {
  content: "💖";
  font-size: 1.5rem;
  position: absolute;
  animation: float 3s ease-in-out infinite;
}

.valentine::before {
  top: -0.625rem;
  left: -0.625rem;
}

.valentine::after {
  bottom: -0.625rem;
  right: -0.625rem;
}

.valentine.active {
  opacity: 1;
  transform: translate(-50%, -50%);
  height: 26.25rem !important;
}

p {
  color: #6d5052;
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  word-wrap: break-word;
  text-align: center;
  font-size: 1.125rem;
  word-spacing: 0.0313rem;
}

p.title {
  color: #f8878f;
  font-size: 1.5rem;
  text-shadow: 0.125rem 0.125rem 1.25rem #FFA5AB80;
  margin-bottom: 0.4375rem;
}

@keyframes letterBounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.1875rem);
  }
}

span.you {
  display: inline-block;
  animation: letterBounce 2s ease-in-out infinite;
}

span.you:nth-child(1) {
  animation-delay: 0.1s;
}

span.you:nth-child(2) {
  animation-delay: 0.2s;
}

@keyframes letterBounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.1875rem);
  }
}

.iloveyou span {
  display: inline-block;
  animation: letterBounce 2s ease-in-out infinite;
}

.iloveyou span:nth-child(1) {
  animation-delay: 0s;
}

.iloveyou span:nth-child(2) {
  animation-delay: 0.1s;
}

.iloveyou span:nth-child(3) {
  animation-delay: 0.2s;
}

.iloveyou span:nth-child(4) {
  animation-delay: 0.3s;
}

.iloveyou span:nth-child(5) {
  animation-delay: 0.4s;
}

.iloveyou span:nth-child(6) {
  animation-delay: 0.5s;
}

.iloveyou span:nth-child(7) {
  animation-delay: 0.6s;
}

.iloveyou span:nth-child(8) {
  animation-delay: 0.7s;
}

.iloveyou span:nth-child(9) {
  animation-delay: 0.8s;
}

.iloveyou span:nth-child(10) {
  animation-delay: 0.9s;
}

.iloveyou span:nth-child(11) {
  animation-delay: 1.0s;
}

.iloveyou span:nth-child(12) {
  animation-delay: 1.1s;
}